@import "../../App.scss";
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

$thu-phap-font: "Great Vibes", cursive;

.form__forgot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto 0;
    &__item{
        &__title{
            text-align: center;
			color: #009ee2;
			font-family: $thu-phap-font;
			margin-bottom: 0;
			font-size: 74px;
			font-style: normal;
			font-weight: 800;
			line-height: 48px;
        }
        &__desc{
            text-align: center;
			margin: 40px 0 20px 0;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			color: rgba(0, 0, 0, 0.5);
            &__email{
                text-align: center;
                color: #475467;
                font-size: 16px;
			font-style: normal;
			font-weight: 600;
            }
        }
        &__content{
            text-align: center;
            padding: 25px 0;
            &__button{
                &:hover{
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
    &__input{
        border-bottom: 1px solid #000;
        height: 46px;
        &:hover{
            border-bottom: 1px solid #000;
        }
    }

    &__button{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 8px;
        height: 40px;
    }
    &__return{
      float: right;
    }
}
.forgot__col{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.ant-steps-vertical{
    width: auto;
}
.ant-input-prefix{
    padding-right: 10px;
}