.title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Helvetica, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.titleComponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.button__Custom{
    border-radius: 8px;
    height: 42px;
    background-color: #fff;
    border: none;
}